body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    background: #efe4ca;
    top: 0;
    z-index: 999;
    color: #2a1308;
    transition: 300ms ease-in-out;
}

.navbar-active{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #efe4ca;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
    transition: 300ms ease-in-out;
}

.logname{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;
}

.logname img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.name{
    font-size: 22px;
    font-weight: 600;
}

.navmenu{
    margin-right: 100px;
    font-weight: 550;
}

.navmenu li{
    display: inline;
    list-style-type: none;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    margin: 0 10px;
}

.navmenu li::after{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-bottom: 2px solid black;
    top: 0;
    left: 0;
    transition: 300ms ease-in-out;
}

.navmenu li:hover::after{
    width: 100%;
}